<div class="jumbotron">
    <h1><img width="" src="">No Servers</h1>
    <p>
        Relic : [rel-ik] 
        <ol>
            <li>a surviving memorial of something past.</li>
            <li>obsolete computer hardware.</li>
        </ol>
    <p></p>
</div>
<div>
  <p>Simple AngularJS serverless application example running on Microsoft Azure.</p>
  <p>Made with a big nod to <b><a href="http://squirrelbin.com/">SquirrelBin</a></b> using <a href="https://azure.microsoft.com/en-gb/services/functions">Azure Functions</a></p>
</div>
