
<div>
  <form novalidate="novalidate" class="form-horizontal">

    <div class="form-group">
      <label class="control-label" for="inputFirstName">Server Name</label>
      <input type="text" class="form-control" ng-model="relic.name" id="inputFirstName" placeholder="Loading...">
    </div>

    <div class="form-group">
      <label class="control-label" for="inputLastName">Epitaph</label>
      <input type="text" class="form-control" ng-model="relic.epitaph" id="inputLastName" placeholder="Loading...">
    </div>
  <div class="form-group">
   <div class="controls">
        <a ng-click="updateRelic()" class="btn btn-small btn-primary">Update</a>
        <a ng-click="cancel()" class="btn btn-small">Cancel</a>
  </div>
  </div>
</form>
</div>
